In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Aqram_Project1_FinalClean_data.csv')

In [4]:
df.head()

,MS SubClass,Lot Frontage,Lot Area,Street,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,20,141.0,31770,1,1,0,6,5,1960,1960,...,0,0,0,0,1,0,0,0,1,0
1,20,80.0,11622,1,0,0,5,6,1961,1961,...,0,0,0,0,1,0,0,0,1,0
2,20,81.0,14267,1,1,0,6,6,1958,1958,...,0,0,0,0,1,0,0,0,1,0
3,20,93.0,11160,1,0,0,7,5,1968,1968,...,0,0,0,0,1,0,0,0,1,0
4,60,74.0,13830,1,1,0,5,5,1997,1998,...,0,0,0,0,1,0,0,0,1,0

In [18]:
df[df['Year Built'] == df['Year Built'].min()]

,MS SubClass,Lot Frontage,Lot Area,Street,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
1270,70,50.0,5250,1,0,0,8,5,1872,1987,...,0,0,0,0,1,0,0,0,1,0

In [20]:
df[df['Year Built'] == df['Year Built'].max()]

,MS SubClass,Lot Frontage,Lot Area,Street,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
16,20,88.0,11394,1,0,0,9,2,2010,2010,...,0,1,0,0,0,0,0,0,0,1
100,20,57.0,12853,1,1,0,8,5,2010,2010,...,0,1,0,0,0,0,0,0,0,1
245,20,64.0,7360,1,0,0,7,5,2010,2010,...,0,0,0,0,1,0,0,0,1,0

In [19]:
df[df['Year Remod/Add'] == df['Year Remod/Add'].min()]

,MS SubClass,Lot Frontage,Lot Area,Street,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
79,30,70.0,9800,1,0,0,5,5,1920,1950,...,0,0,0,0,1,0,0,0,1,0
124,50,120.0,17360,1,0,0,6,6,1949,1950,...,0,0,0,0,1,0,0,0,1,0
153,50,78.0,17503,1,0,0,6,5,1948,1950,...,0,0,0,0,1,0,0,0,0,0
166,30,56.0,4485,1,0,0,5,7,1920,1950,...,0,0,0,0,1,0,0,0,1,0
167,30,56.0,8960,1,0,0,5,6,1927,1950,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2772,30,50.0,8765,1,0,0,4,6,1936,1950,...,0,0,0,0,1,0,0,0,0,0
2774,50,60.0,11040,1,0,1,4,6,1920,1950,...,0,0,0,0,0,0,0,0,1,0
2775,30,69.0,12366,1,0,0,3,5,1945,1950,...,0,0,0,0,1,0,0,0,0,0
2776,20,50.0,9000,1,0,0,2,3,1949,1950,...,0,0,0,0,1,0,0,0,0,0
2778,50,60.0,8520,0,0,0,3,5,1916,1950,...,0,0,0,0,1,0,0,0,1,0

In [21]:
df[df['Year Remod/Add'] == df['Year Remod/Add'].max()]

,MS SubClass,Lot Frontage,Lot Area,Street,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
16,20,88.00000,11394,1,0,0,9,2,2010,2010,...,0,1,0,0,0,0,0,0,0,1
35,60,102.00000,12858,1,1,0,9,5,2009,2010,...,0,1,0,0,0,0,0,0,0,1
37,20,83.00000,10159,1,1,0,9,5,2009,2010,...,0,1,0,0,0,0,0,0,0,1
38,20,94.00000,12883,1,1,0,8,5,2009,2010,...,0,1,0,0,0,0,0,0,0,1
43,120,44.00000,6371,1,1,0,7,5,2009,2010,...,0,1,0,0,0,0,0,0,0,1
64,20,92.00000,9215,1,0,0,7,5,2009,2010,...,0,1,0,0,0,0,0,0,0,1
85,20,74.55102,6897,1,1,0,5,8,1962,2010,...,0,0,0,0,1,0,0,0,1,0
100,20,57.00000,12853,1,1,0,8,5,2010,2010,...,0,1,0,0,0,0,0,0,0,1
235,20,44.00000,17485,1,2,0,7,5,2009,2010,...,0,0,0,0,0,0,0,0,0,1
245,20,64.00000,7360,1,0,0,7,5,2010,2010,...,0,0,0,0,1,0,0,0,1,0
308,20,73.00000,9803,1,0,0,7,5,2009,2010,...,0,1,0,0,0,0,0,0,0,1
310,60,92.00000,12003,1,0,0,8,5,2009,2010,...,0,1,0,0,0,0,0,0,0,1

In [13]:
df['Fireplace Qu'].max()

5

In [31]:
df['Fireplace Qu'].min()

0

In [30]:
df['Kitchen Qual'].min()

0

In [14]:
df['Kitchen Qual'].max()

4

In [15]:
df['Gr Liv Area'].max()

3395

In [32]:
df['Bsmt Qual'].min()

0

In [19]:
df['Bsmt Qual'].max()

5

In [33]:
df['Exter Qual'].min()

1

In [20]:
df['Exter Qual'].max()

4

In [4]:
df['Bsmt Exposure'].min()

0

In [8]:
df['BsmtFin SF 1'].max()

1836.0

In [11]:
df['Total Bsmt SF'].max()

2217.0

In [16]:
df['1st Flr SF'].min()

334

In [17]:
df['Gr Liv Area'].min()

334

In [20]:
df['Garage Finish'].max()

3

In [21]:
df['Garage Cars'].max()

3.0

In [26]:
df['Neighborhood_NridgHt'].max()

1

In [25]:
df['Sale Condition_Partial'].max()

1

In [29]:
df['Overall Qual'].min()

1

In [7]:
X = df.drop('SalePrice', axis = 1)
y = df['SalePrice']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [5]:
from sklearn.linear_model import LassoCV

In [24]:
lasso_cv_model = LassoCV(eps = 0.1, n_alphas = 100, cv = 5)

In [25]:
lasso_cv_model.fit(X_train, y_train)

LassoCV(cv=5, eps=0.1)

In [26]:
lasso_cv_model.alpha_

5626.778928688413

In [27]:
test_predictions = lasso_cv_model.predict(X_test)

In [28]:
from sklearn.metrics import mean_squared_error

In [29]:
MSE = mean_squared_error(y_test, test_predictions)
RMSE = np.sqrt(MSE)

In [30]:
MSE

668832706.7073733

In [31]:
RMSE

25861.800144370718

In [32]:
lasso_cv_model.coef_

array([   -0.        ,   327.74996857,    21.49908712,     0.        ,
           0.        ,     0.        , 17981.82569432,     0.        ,
        3151.83271868,   887.74749803,     0.        ,  6282.81343739,
           0.        ,  1127.18075207,     0.        ,  1134.90360812,
           0.        ,  7859.12263501,     0.        ,     0.        ,
          -0.        ,  4366.86843443,     0.        ,     0.        ,
        3119.74648954,     0.        ,    -0.        , 17501.24777273,
           0.        ,    -0.        ,     0.        ,     0.        ,
          -0.        ,    -0.        ,  5479.77183389,     0.        ,
           0.        ,  2262.14802734,     0.        ,  1315.62061552,
         943.22680016,  4939.07441859,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,    -0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,    -0.        ,    -0.        ,     0.        ,
          -0.        ,    -0.        ,     0.        ,    -0.        ,
           0.        ,     0.        ,    -0.        ,     0.        ,
          -0.        ,     0.        ,    -0.        ,     0.        ,
          -0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,     0.        ,    -0.        ,
          -0.        ,    -0.        ,     0.        ,    -0.        ,
          -0.        ,    -0.        ,    -0.        ,    -0.        ,
          -0.        ,    -0.        ,     0.        ,  1532.83142653,
          -0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
          -0.        ,     0.        ,     0.        ,     0.        ,
          -0.        ,     0.        ,    -0.        ,     0.        ,
          -0.        ,    -0.        ,     0.        ,     0.        ,
          -0.        ,     0.        ,     0.        ,    -0.        ,
          -0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,    -0.        ,     0.        ,
          -0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,    -0.        ,     0.        ,
           0.        ,    -0.        ,     0.        ,     0.        ,
          -0.        ,    -0.        ,    -0.        ,     0.        ,
           0.        ,     0.        ,    -0.        ,     0.        ,
          -0.        ,    -0.        ,     0.        ,     0.        ,
          -0.        ,     0.        ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,    -0.        ,     0.        ,
           0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,     0.        ,     0.        ,
          -0.        ,     0.        ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,    -0.        ,     0.        ,
          -0.        ,     0.        ,     0.        ,     0.        ,
          -0.        ,     0.        ,    -0.        ,    -0.        ,
          -0.        ,     0.        ,    -0.        ,    -0.        ,
          -0.        ,     0.        ,    -0.        ,    -0.        ,
          -0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,     0.        ,    -0.        ,     0.        ,
          -0.        ,    -0.        ,    -0.        ,     0.        ,
           0.        ,    -0.        ,     0.        ,    -0.        ,
           0.        ,    -0.        ,     0.        ,    -0.        ,
          -0.        ,     0.        ,    -0.        ,    -0.        ,
        1472.0979229 ])

In [38]:
x = lasso_cv_model.coef_
x[x>0]

array([  327.74996857,    21.49908712, 17981.82569432,  3151.83271868,
         887.74749803,  6282.81343739,  1127.18075207,  1134.90360812,
        7859.12263501,  4366.86843443,  3119.74648954, 17501.24777273,
        5479.77183389,  2262.14802734,  1315.62061552,   943.22680016,
        4939.07441859,  1532.83142653,  1472.0979229 ])

In [35]:
print(np.where(np.isclose(x, 327.74996857)), np.where(np.isclose(x, 21.49908712)), np.where(np.isclose(x, 17981.82569432)),
np.where(np.isclose(x, 3151.83271868)), np.where(np.isclose(x, 887.74749803)), np.where(np.isclose(x, 6282.81343739)),
np.where(np.isclose(x, 1127.18075207)), np.where(np.isclose(x, 1134.90360812)), np.where(np.isclose(x, 7859.12263501)),
np.where(np.isclose(x, 4366.86843443)), np.where(np.isclose(x, 3119.74648954)), np.where(np.isclose(x, 17501.24777273)),
np.where(np.isclose(x, 5479.77183389)), np.where(np.isclose(x, 2262.14802734)), np.where(np.isclose(x, 1315.62061552)),
np.where(np.isclose(x, 943.22680016)),np.where(np.isclose(x, 4939.07441859)),np.where(np.isclose(x, 1532.83142653)),
np.where(np.isclose(x, 1472.0979229)))

(array([1], dtype=int64),) (array([2], dtype=int64),) (array([6], dtype=int64),) (array([8], dtype=int64),) (array([9], dtype=int64),) (array([11], dtype=int64),) (array([13], dtype=int64),) (array([15], dtype=int64),) (array([17], dtype=int64),) (array([21], dtype=int64),) (array([24], dtype=int64),) (array([27], dtype=int64),) (array([34], dtype=int64),) (array([37], dtype=int64),) (array([39], dtype=int64),) (array([40], dtype=int64),) (array([41], dtype=int64),) (array([87], dtype=int64),) (array([208], dtype=int64),)

In [40]:
arr = X.columns.values
print(arr[1] + ',' + arr[2] + ',' + arr[6] + ',' + arr[8] + ',' + arr[9] + ',' + arr[11] + ','
     + arr[13] + ',' + arr[15] + ',' + arr[17] + ',' + arr[21] + ',' + arr[24] + ',' 
     + arr[27] + ',' + arr[34] + ',' + arr[37] + ',' + arr[39] + ',' + arr[40] + ',' + arr[41] + 
     ',' + arr[87] + ',' + arr[208])

Lot Frontage,Lot Area,Overall Qual,Year Built,Year Remod/Add,Exter Qual,Bsmt Qual,Bsmt Exposure,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,Gr Liv Area,Kitchen Qual,Fireplace Qu,Garage Finish,Garage Cars,Garage Area,Neighborhood_NridgHt,Sale Condition_Partial

In [34]:
X = df.drop('SalePrice', axis = 1)
y = df['SalePrice']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [35]:
from sklearn.linear_model import LassoCV

In [36]:
lasso_cv_model = LassoCV(eps = 0.1, n_alphas = 100, cv = 5)